.version.index {
    color: #000004;
    background-color: #A52CA5;
}

#page {
    z-index: 1;
    width: 1440px;
    min-height: 3534px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

#page_position_content {
    padding-top: 19px;
    padding-bottom: 20px;
    width: 0.01px;
}

#u94 {
    z-index: 212;
    height: 100px;
    background-color: #FFFFFF;
}

.js body {
    visibility: hidden;
}

.js body.initialized {
    visibility: visible;
}

#u94-bw {
    z-index: 212;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}

#u802 {
    z-index: 213;
    width: 1326px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    margin-left: 55px;
    position: relative;
}

#u101 {
    z-index: 214;
    width: 271px;
    background-color: #FFFFFF;
    position: relative;
    margin-right: -10000px;
    margin-top: 1px;
}

#u97 {
    z-index: 215;
    display: block;
}

#u275-4 {
    z-index: 234;
    display: block;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 16px;
    left: 690px;
}

#u251 {
    z-index: 230;
    width: 19px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 16px;
    left: 779px;
}

#u247 {
    z-index: 231;
    display: block;
}

#u244-4 {
    z-index: 222;
    display: block;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 16px;
    left: 804px;
}

#u268 {
    z-index: 232;
    width: 22px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 13px;
    left: 985px;
}

#u264 {
    z-index: 233;
    display: block;
}

#u261-4 {
    z-index: 226;
    display: block;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 16px;
    left: 1007px;
}

#pbuttonu238 {
    z-index: 217;
    width: 0.01px;
    margin-right: -10000px;
    margin-left: 1148px;
}

#buttonu238 {
    z-index: 217;
    width: 175px;
    height: 49px;
    border-style: solid;
    border-width: 1px;
    border-color: #EB431C;
    background-color: #EB431C;
    border-radius: 0px 10px 0px 10px;
    position: relative;
    margin-right: -10000px;
    margin-top: 1px;
    margin-left: 1px;
}

#pbuttonu238:hover #buttonu238 {
    width: 174px;
    height: 48px;
    border-style: solid;
    border-width: 2px;
    background-color: #FFFFFF;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
}

#u239 {
    z-index: 219;
    height: 23px;
    width: 119px;
    vertical-align: top;
    background: transparent url("../images/u239.png?crc=400288744") no-repeat 0px 0px;
}

#pbuttonu238:hover #u239 {
    position: relative;
    margin-right: -10000px;
    margin-top: 13px;
    left: 30px;
    background: transparent url("../images/u239-r.png?crc=361132383") no-repeat 0px 0px;
}

#pbuttonu238 #u239 {
    position: relative;
    margin-right: -10000px;
    margin-top: 13px;
    left: 30px;
}

#u108 {
    z-index: 176;
    min-height: 674px;
    background-color: #FAF6ED;
}

#u235 {
    z-index: 177;
    width: 1386px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 59px;
    left: 134px;
}

#pu125-6 {
    z-index: 179;
    width: 0.01px;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 61px;
}

#u125-6 {
    z-index: 179;
    display: block;
    vertical-align: top;
    margin-left: 1px;
    position: relative;
}

#u130-4 {
    z-index: 185;
    display: block;
    vertical-align: top;
    margin-left: 1px;
    position: relative;
}

#buttonu135 {
    z-index: 202;
    width: 229px;
    border-style: solid;
    border-width: 2px;
    border-color: #EB431C;
    background-color: #EB431C;
    border-radius: 0px 10px 0px 10px;
    padding-bottom: 12px;
    margin-top: 5px;
    position: relative;
}

#buttonu135:hover {
    background-color: #FAF6ED;
    width: 229px;
    min-height: 0px;
    margin: 5px 0px 0px;
}

#buttonu135.ButtonSelected {
    background-color: #EB431C;
    width: 229px;
    min-height: 0px;
    margin: 5px 0px 0px;
}

#u137 {
    z-index: 204;
    height: 23px;
    width: 119px;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 13px;
    left: 55px;
    background: transparent url("../images/u137.png?crc=400288744") no-repeat 0px 0px;
}

#buttonu135:hover #u137 {
    background: transparent url("../images/u137-r.png?crc=361132383") no-repeat 0px 0px;
}

#ppu202 {
    z-index: 0;
    width: 0.01px;
    margin-left: 1px;
    margin-top: 30px;
}

#pu202 {
    z-index: 208;
    width: 0.01px;
    margin-right: -10000px;
    margin-top: 19px;
}

#u202 {
    z-index: 208;
    width: 16px;
    background-color: transparent;
    position: relative;
}

#u203 {
    z-index: 209;
    display: block;
}

#u159 {
    z-index: 206;
    width: 16px;
    background-color: transparent;
    margin-top: 38px;
    position: relative;
}

#u155 {
    z-index: 207;
    display: block;
}

#u220 {
    z-index: 210;
    width: 16px;
    background-color: transparent;
    margin-top: 38px;
    position: relative;
}

#u221 {
    z-index: 211;
    display: block;
}

#u150-13 {
    z-index: 189;
    display: block;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    left: 21px;
}

#u114 {
    z-index: 178;
    width: 721px;
    height: 615px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    position: relative;
    margin-right: -10000px;
    left: 665px;
    background: transparent url("../images/60380aff43df03858f148514_hero-xray-cattle-dog-p-800.jpg?crc=43008162") no-repeat center top;
    background-size: contain;
}

#u108-bw {
    z-index: 176;
    min-height: 674px;
    margin-top: 21px;
}

#u278 {
    z-index: 12;
    min-height: 561px;
    background-color: transparent;
    padding-bottom: 67px;
}

#u364 {
    z-index: 13;
    width: 1257px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    margin-top: 84px;
    left: 201px;
}

#u281-4 {
    z-index: 17;
    display: block;
    vertical-align: top;
    margin-left: 17px;
    position: relative;
}

#ppu284 {
    z-index: 0;
    width: 0.01px;
    margin-top: 34px;
}

#pu284 {
    z-index: 14;
    width: 0.01px;
    margin-right: -10000px;
}

#u284 {
    z-index: 14;
    width: 239px;
    height: 219px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    margin-left: 49px;
    position: relative;
    background: transparent url("../images/602d27ca3e4ba80b1f622727_sick-visit-icon.svg?crc=62198245") no-repeat center center;
    background-size: contain;
}

.nosvg #u284 {
    background-image: url('../images/602d27ca3e4ba80b1f622727_sick-visit-icon_poster_u287.png?crc=4287123762');
}

#u323-4 {
    z-index: 21;
    display: block;
    vertical-align: top;
    margin-left: 24px;
    margin-top: 6px;
    position: relative;
}

#u338-4 {
    z-index: 33;
    display: block;
    vertical-align: top;
    margin-top: 14px;
    position: relative;
}

#u358 {
    z-index: 45;
    width: 2px;
    height: 236px;
    background-color: #EB431C;
    position: relative;
    margin-right: -10000px;
    margin-top: 55px;
    left: 394px;
}

#pu298 {
    z-index: 15;
    width: 0.01px;
    margin-right: -10000px;
    margin-left: 445px;
}

#u298 {
    z-index: 15;
    width: 239px;
    height: 219px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    margin-left: 55px;
    position: relative;
    background: transparent url("../images/602d27ca3e4ba8e592622728_dental-icon.svg?crc=293658771") no-repeat center center;
    background-size: contain;
}

.nosvg #u298 {
    background-image: url('../images/602d27ca3e4ba8e592622728_dental-icon_poster_u307.png?crc=392737754');
}

#u329-4 {
    z-index: 25;
    display: block;
    vertical-align: top;
    margin-top: 6px;
    position: relative;
}

#u347-4 {
    z-index: 37;
    display: block;
    vertical-align: top;
    margin-left: 2px;
    margin-top: 14px;
    position: relative;
}

#u361 {
    z-index: 46;
    width: 2px;
    height: 236px;
    background-color: #EB431C;
    position: relative;
    margin-right: -10000px;
    margin-top: 55px;
    left: 833px;
}

#pu304 {
    z-index: 16;
    width: 0.01px;
    margin-right: -10000px;
    margin-left: 875px;
}

#u304 {
    z-index: 16;
    width: 239px;
    height: 219px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    margin-left: 75px;
    position: relative;
    background: transparent url("../images/602d27ca3e4ba8a68c622726_breed-specific-icon.svg?crc=171595511") no-repeat center bottom;
    background-size: contain;
}

.nosvg #u304 {
    background-image: url('../images/602d27ca3e4ba8a68c622726_breed-specific-icon_poster_u315.png?crc=114835274');
}

#u335-4 {
    z-index: 29;
    display: block;
    vertical-align: top;
    margin-top: 6px;
    position: relative;
}

#u353-4 {
    z-index: 41;
    display: block;
    vertical-align: top;
    margin-left: 19px;
    margin-top: 14px;
    position: relative;
}

#u278-bw {
    z-index: 12;
    min-height: 561px;
}

#pu378 {
    z-index: 11;
    width: 0.01px;
    margin-left: -100px;
}

#u378 {
    z-index: 11;
    width: 707px;
    background-color: #FAF6ED;
    padding-bottom: 91px;
    position: relative;
    margin-right: -10000px;
}

#u565 {
    z-index: 48;
    width: 487px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 119px;
    left: 120px;
}

#u382-4 {
    z-index: 49;
    display: block;
    vertical-align: top;
    position: relative;
}

#u385-4 {
    z-index: 53;
    width: 479px;
    min-height: 52px;
    background-color: transparent;
    line-height: 19px;
    font-size: 16px;
    margin-top: 33px;
    position: relative;
}

#ppu391 {
    z-index: 0;
    width: 0.01px;
    margin-left: 8px;
    margin-top: 25px;
}

#pu391 {
    z-index: 95;
    width: 0.01px;
    padding-bottom: 0px;
    margin-right: -10000px;
}

#u391 {
    z-index: 95;
    width: 16px;
    background-color: transparent;
    position: relative;
}

#u392 {
    z-index: 96;
    display: block;
}

#u409 {
    z-index: 99;
    width: 16px;
    background-color: transparent;
    margin-top: 19px;
    position: relative;
}

#u410 {
    z-index: 100;
    display: block;
}

#u418 {
    z-index: 103;
    width: 16px;
    background-color: transparent;
    margin-top: 19px;
    position: relative;
}

#u419 {
    z-index: 104;
    display: block;
}

#u427 {
    z-index: 107;
    width: 16px;
    background-color: transparent;
    margin-top: 19px;
    position: relative;
}

#u428 {
    z-index: 108;
    display: block;
}

#u436 {
    z-index: 111;
    width: 16px;
    background-color: transparent;
    margin-top: 18px;
    position: relative;
}

#u437 {
    z-index: 112;
    display: block;
}

#u400 {
    z-index: 115;
    width: 16px;
    background-color: transparent;
    margin-top: 19px;
    position: relative;
}

#u401 {
    z-index: 116;
    display: block;
}

#u388-19 {
    z-index: 57;
    width: 209px;
    min-height: 239px;
    background-color: transparent;
    line-height: 19px;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
    margin-right: -10000px;
    left: 20px;
}

#u556-19 {
    z-index: 76;
    width: 233px;
    min-height: 239px;
    background-color: transparent;
    line-height: 19px;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
    margin-right: -10000px;
    left: 246px;
}

#u499 {
    z-index: 97;
    width: 16px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    left: 226px;
}

#u500 {
    z-index: 98;
    display: block;
}

#u508 {
    z-index: 101;
    width: 16px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 38px;
    left: 226px;
}

#u509 {
    z-index: 102;
    display: block;
}

#u517 {
    z-index: 105;
    width: 16px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 76px;
    left: 226px;
}

#u518 {
    z-index: 106;
    display: block;
}

#u526 {
    z-index: 109;
    width: 16px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 114px;
    left: 226px;
}

#u527 {
    z-index: 110;
    display: block;
}

#u535 {
    z-index: 113;
    width: 16px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 151px;
    left: 226px;
}

#u536 {
    z-index: 114;
    display: block;
}

#u544 {
    z-index: 117;
    width: 16px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 189px;
    left: 226px;
}

#u545 {
    z-index: 118;
    display: block;
}

#buttonu559 {
    z-index: 119;
    width: 229px;
    border-style: solid;
    border-width: 2px;
    border-color: #EB431C;
    background-color: #EB431C;
    border-radius: 0px 10px 0px 10px;
    padding-bottom: 12px;
    margin-left: 7px;
    margin-top: 31px;
    position: relative;
}

#buttonu559:hover {
    background-color: #FAF6ED;
    width: 229px;
    min-height: 0px;
    margin: 31px 0px 0px 7px;
}

#buttonu559.ButtonSelected {
    background-color: #EB431C;
    width: 229px;
    min-height: 0px;
    margin: 31px 0px 0px 7px;
}

#u560 {
    z-index: 121;
    height: 23px;
    width: 119px;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 13px;
    left: 55px;
    background: transparent url("../images/u560.png?crc=400288744") no-repeat 0px 0px;
}

#buttonu559:hover #u560 {
    background: transparent url("../images/u560-r.png?crc=361132383") no-repeat 0px 0px;
}

#u367 {
    z-index: 47;
    width: 933px;
    height: 706px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    position: relative;
    margin-right: -10000px;
    left: 707px;
    background: transparent url("../images/6036c672b7d1065cbc3986da_pug-ate-chocolate-p-1080.jpg?crc=19796783") no-repeat right center;
    background-size: cover;
}

#u568 {
    z-index: 10;
    min-height: 794px;
    background-color: transparent;
}

#u568_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1440px;
    left: -100px;
    padding-top: 116px;
    padding-bottom: 81px;
}

#u585-13 {
    z-index: 123;
    display: block;
    vertical-align: top;
    left: 530px;
    position: relative;
}

#u796 {
    z-index: 136;
    width: 1271px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    left: 177px;
    margin-top: 21px;
    position: relative;
}

#u703 {
    z-index: 138;
    width: 363px;
    height: 382px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    position: relative;
    margin-right: -10000px;
    background: transparent url("../images/5f2bad529f1e32b7588972ad_ate-remote-blue_optimized-fl.jpg?crc=145000419") no-repeat center center;
    background-size: contain;
}

#u700 {
    z-index: 137;
    width: 466px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11), 0px 0px 20px rgba(0, 0, 0, 0.11);
    background-color: #FFFFFF;
    border-radius: 65px 0px 65px 0px;
    position: relative;
    margin-right: -10000px;
    left: 386px;
    padding: 54px 23px 27.350000000000364px 25px;
}

#u728-4 {
    z-index: 140;
    display: block;
    vertical-align: top;
    position: relative;
}

#u734-4 {
    z-index: 144;
    display: block;
    vertical-align: top;
    margin-top: 44px;
    position: relative;
}

#u709 {
    z-index: 139;
    width: 347px;
    height: 382px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    position: relative;
    margin-right: -10000px;
    left: 924px;
    background: transparent url("../images/5f2d0a20ebd47924065e333c_ate-bee_optimized-fl-u709-fr.png?crc=165601538") no-repeat center center;
    background-size: contain;
}

#u568-bw {
    z-index: 10;
    min-height: 794px;
}

#u740 {
    z-index: 148;
    min-height: 563px;
    background-color: #EB431C;
    padding-bottom: 70px;
}

#u108_align_to_page,
#u278_align_to_page,
#u740_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1440px;
    left: -100px;
}

#u805 {
    z-index: 149;
    width: 966px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    margin-top: 98px;
    left: 355px;
}

#u753 {
    z-index: 153;
    width: 348px;
    background-color: transparent;
    margin-left: 283px;
    position: relative;
}

#u749 {
    z-index: 154;
    display: block;
}

#u743 {
    z-index: 151;
    height: 60px;
    width: 776px;
    vertical-align: top;
    margin-left: 70px;
    margin-top: 35px;
    position: relative;
    background: transparent url("../images/u743.png?crc=3794374611") no-repeat 0px 0px;
}

#u743:hover {
    background: transparent url("../images/u743-r.png?crc=3794374611") no-repeat 0px 0px;
}

#pu760-4 {
    z-index: 155;
    width: 0.01px;
    margin-top: 18px;
}

#u760-4 {
    z-index: 155;
    display: block;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
}

#u766-5 {
    z-index: 163;
    display: block;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    left: 559px;
}

#pu772-4 {
    z-index: 159;
    width: 0.01px;
    margin-top: 17px;
}

#u772-4 {
    z-index: 159;
    display: block;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
}

#u778-4 {
    z-index: 168;
    display: block;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    left: 559px;
}

#buttonu790 {
    z-index: 172;
    width: 229px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    background-color: transparent;
    border-radius: 0px 10px 0px 10px;
    padding-bottom: 12px;
    margin-left: 341px;
    margin-top: 46px;
    position: relative;
}

#buttonu790:hover {
    background-color: #FFFFFF;
    width: 229px;
    min-height: 0px;
    margin: 46px 0px 0px 341px;
}

#buttonu790.ButtonSelected {
    background-color: transparent;
    width: 229px;
    min-height: 0px;
    margin: 46px 0px 0px 341px;
}

#u791 {
    z-index: 174;
    height: 23px;
    width: 119px;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 13px;
    left: 55px;
    background: transparent url("../images/u791.png?crc=400288744") no-repeat 0px 0px;
}

#buttonu790:hover #u791 {
    background: transparent url("../images/u791-r.png?crc=4045324486") no-repeat 0px 0px;
}

#u740-bw {
    z-index: 148;
    min-height: 563px;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 3596px);
}

#pu808-4 {
    z-index: 2;
    width: 0.01px;
    margin-left: 97px;
    margin-top: 16px;
}

#u808-4 {
    z-index: 2;
    width: 285px;
    min-height: 26px;
    position: relative;
    margin-right: -10000px;
}

#u811-4 {
    z-index: 6;
    width: 286px;
    min-height: 26px;
    position: relative;
    margin-right: -10000px;
    left: 1037px;
}

#muse_css_mq,
.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
    min-width: 1440px;
}